<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Brahmapur Sabuja Bahini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div style="margin-top: 50px;">
    <ion-icon name="leaf" style="font-size: 100px; color: #2dd36f;"></ion-icon>
    
    <h1 style="font-weight: bold; color: #1b5e20;">Sabuja Bahini</h1>
    <p style="font-style: italic; color: #43a047;">"Green Odisha, Clean Odisha"</p>
    
    <ion-card style="margin-top: 30px; border-radius: 15px; background: #f1f8e9;">
      <ion-card-header>
        <ion-card-title>Our Mission</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        We are dedicated to tree plantation and blood donation camps in Berhampur. 
        Join us in making our city greener!
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
